@use "../abstracts/abstract" as abs;
.error{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  padding: 2rem 3rem;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-image: linear-gradient(to right, abs.$color-primary--cyan, abs.$color-primary--dark-violet);
  border-radius: 1rem;
  box-shadow: 0 0 1rem .1rem abs.$color-neutral--dark-blue;
  @media only screen and (min-width: abs.$bp-smallest){
    width: max-content;
    padding: 3rem 5rem;
  }
  & .heading-2{color: abs.$color-neutral--white}
  & p{
    font-size: 1.6rem;
    color: abs.$color-neutral--white;
    text-align: center;
  }
}