//FONT
$font-primary: 'Poppins', sans-serif;
$font-medium: 500;
$font-bold: 700;

//COLORS
$color-primary--cyan:hsl(180, 66%, 49%);
$color-primary--dark-violet: hsl(257, 27%, 26%);

$color-secondary--red:hsl(0, 87%, 67%);

$color-neutral--white: #fff;
$color-neutral--gray:hsl(0, 0%, 75%);
$color-neutral--grayish-violet:hsl(257, 7%, 63%);
$color-neutral--dark-blue:hsl(255, 11%, 22%);
$color-neutral--dark-violet:hsl(260, 8%, 14%);

//BREAKPOINTS
$bp-smallest:48em;

//ANIMATIONS
@keyframes copyTimeout{ 100%{width: 100%;} }
@-webkit-keyframes copyTimeout { 100%{width: 100%;} }

@keyframes rotate { 100%{transform: rotate(360deg)} }
@-webkit-keyframes rotate { 100%{transform: rotate(360deg)} }



